.md-header {
    background-color: black;
    box-shadow: none;
}

.md-tabs{
    background-color: black;
}

.md-footer{
    background-color: #14161b;
}

.md-footer-meta{
    background-color: black;
}

.md-banner{
    background-color: #F95428;
}

.md-banner a{
    color: white !important;
    text-decoration: underline;
}
