# Ignore all files and folders that start with a dot.
**/*.

# Ignore all Python bytecode files.
__pycache__/

# Ignore all temporary files.
*.tmp
*.swp

# Ignore all build artifacts.
build/
dist/

# Ignore all github-related files.
README.md
CONTRIBUTING.md
CHANGELOG.md
LICENSE
Dockerfile
.github/

.git/