.md-header {
    background-color: black;
    box-shadow: none;
}

.md-tabs{
    background-color: black;
}

.md-footer{
    background-color: #14161b;
}

.md-footer-meta{
    background-color: black;
}

.md-banner{
    background: rgb(144,2,255);
    background: linear-gradient(90deg, rgba(144,2,255,1) 0%, rgba(121,76,254,1) 100%);
}

.md-banner a{
    color: white !important;
    text-decoration: underline;
}
