.md-header {
    background-color: #0B0113;
    box-shadow: none;
}

.md-tabs{
    background-color: #0B0113;
}

.md-main .rounded {
    border-radius: 10px;
}

.md-footer{
    background-color: #14161b;
}

.md-footer-meta{
    background-color: #0B0113;
}

.md-banner{
    background: rgb(30,24,91);
    background: linear-gradient(90deg, rgba(30,24,91,1) 0%, rgba(44,59,150,1) 15%, rgba(144,2,255,1) 100%);
}

.md-banner a{
    color: white !important;
    text-decoration: underline;
}
