## {{ action_name }} <img alt="action-badge" src="https://img.shields.io/badge/{{ action_name }}-white?logo=github-actions&label=GitHub%20Action&labelColor=white&color=0064D7"> <a href="https://github.com/lnxpy/pyaction"><img alt="pyaction" src="https://img.shields.io/badge/PyAction-white?label=Made%20with&labelColor=white&color=0064D7"></a>

{{ description }}

### Usage
```yml
Example usage..
```
