[project]
name = "{{ action_slug }}"
version = "0.0.1"
description = "{{ description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = ["pyaction==0.8.1"]

[project.optional-dependencies]
cli = ["pyaction[cli]==0.8.1"]
