## {{ action_name }}

{{ description }}

### Usage

```yml
Example usage..
```

### Running Locally
If you want to run this action locally, follow these steps.

* Clone the repo and `cd` into it.
* Run `uv sync --no-install-project --extra cli`.
* Create the `.env` file filled with the required input parameters.
* Run `uv run pyaction run`.

> [!TIP]
> Check out [this guide](https://pyaction.imsadra.me/tutorial/#local-running) if you need more details.
